<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
        <h2>{{ include.pageTitle }}</h2>
        <ol>
            <li><a href="{{ page.language | relative_url }}">{{ site.data.labels.home[page.language] }}</a></li>
            {%- if include.subSectionName %}
            <li><a href="{{ page.language | append: include.subSectionUrl | relative_url }}">{{ include.subSectionName }}</a></li>
            {%- endif %}
          </ol>
        </div>
    </div>
</section>
