<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>{{ site.data.company.name }}</h3>
            <p>
              {{ site.data.company.address.l1 }}<br>
              {{ site.data.company.address.l2 }}<br><br>
              <strong>{{ site.data.labels.email[page.language] }}:</strong> {{ site.data.company.mail }}<br>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>{{ site.data.labels.section_title_services[page.language] }}</h4>
          <ul>
            {%- for service in site.data.services | sort: 'sort' %}
            {%- assign servicePage = site.pages | where: "key", service.key | where: "language", page.language | first %}
            <li><i class="bi bi-chevron-right"></i> <a href="{{ servicePage.url | relative_url }}">{{ service.title[page.language] }}</a></li>
            {%- endfor %}
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>{{ site.data.labels.section_title_links[page.language] }}</h4>
          <ul>
            {%- assign downloadsPage = site.pages | where: "key", "downloads" | where: "language", page.language | first %}
            {%- assign tosPage = site.pages | where: "key", "tos" | where: "language", page.language | first %}
            {%- assign privacyPage = site.pages | where: "key", "privacy" | where: "language", page.language | first %}
            <li><i class="bi bi-chevron-right"></i> <a href="{{ page.language | relative_url }}">{{ site.data.labels.home[page.language] }}</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ downloadsPage.url | relative_url }}">{{ downloadsPage.title }}</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ tosPage.url | relative_url }}">{{ tosPage.title }}</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{{ privacyPage.url | relative_url }}">{{ privacyPage.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-legal text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>PM_Ten srl</span></strong>. {{ site.data.labels.all_rights_reserved[page.language] }}.
        </div>
      </div>
      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="{{ site.data.company.twitter }}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="{{ site.data.company.facebook }}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="{{ site.data.company.linkedin }}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>