<section id="onfocus" class="onfocus">
  <div id="about-us" class="container-fluid p-0" data-aos="fade-up">
    <div class="row g-0">
      <div class="section-header">
        <h2>{{ site.data.labels.section_title_aboutus[page.language] }}</h2>
      </div>
        <div id="focus-image" class="col-lg-6 video-play position-relative">
        </div>
      <div class="col-lg-6">
        <div class="content d-flex flex-column justify-content-center h-100">
          <p class="fst-italic">
            PM_TEN srl is an innovative SME that connects the world of university research to the entrepreneurial market, positioning itself as a driving force for further progress in methodologies developed in the academic sphere.
            <br>
            PM_TEN srl was born as a spin-off of the Environmental Physics Laboratory of the University of Genoa and is part of a network of laboratories and university spin-offs with diversified and complementary competences.
            <br>
            PM_TEN srl is also part of the TICASS (Tecnologie Innovative per il Controllo Ambientale e lo Sviluppo Sostenibile) consortium, managing body of the Regional Technological Innovation Pole "Energy-Environment" for the Liguria Region.
            <br>
            The company's main activities concern:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Determination of different types of pollutants (dust, radioactive isotopes, noise, non- ionising radiation) and their sources in environmental matrices</li>
            <li><i class="bi bi-check-circle"></i> Compositional analysis of atmospheric particulate matter (environment and workplace)</li>
            <li><i class="bi bi-check-circle"></i> Characterisation of air pollution sources</li>
            <li><i class="bi bi-check-circle"></i> Simulation using mathematical models of pollutant dispersion</li>
            <li><i class="bi bi-check-circle"></i> Support for funded projects and process management</li>
            <li><i class="bi bi-check-circle"></i> Compositional analysis of materials (including non-destructive techniques)</li>
            <li><i class="bi bi-check-circle"></i> Meteorological and marine forecasting</li>
            <li><i class="bi bi-check-circle"></i> Study of wind potential</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
