<section id="onfocus" class="onfocus">
  <div id="about-us" class="container-fluid p-0" data-aos="fade-up">
    <div class="row g-0">
      <div class="section-header">
        <h2>{{ site.data.labels.section_title_aboutus[page.language] }}</h2>
      </div>
        <div id="focus-image" class="col-lg-6 video-play position-relative">
        </div>
      <div class="col-lg-6">
        <div class="content d-flex flex-column justify-content-center h-100">
          <p class="fst-italic">
            PM_TEN si propone come connessione fra il mondo della ricerca universitaria e il mercato imprenditoriale, da un lato proponendo applicazioni dei risultati dalla ricerca, in particolare quella sviluppata nel Laboratorio di Fisica dell'Ambiente, dall'altro ponendosi essa stessa come motore per un ulteriore progresso delle metodologie sviluppate in ambito accademico. 
            <br>
            Le principali attività della Società riguardano:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> la previsione meteorologica e marina</li>
            <li><i class="bi bi-check-circle"></i> la dispersione degli inquinanti in mezzi fluidis</li>
            <li><i class="bi bi-check-circle"></i> la caratterizzazione delle sorgenti di inquinamento atmosferico</li>
            <li><i class="bi bi-check-circle"></i> lo studio del potenziale eolico</li>
            <li><i class="bi bi-check-circle"></i> la determinazione di diversi tipi di inquinanti (polveri, isotopi radioattivi, rumore, radiazioni non ionizzanti) e delle loro sorgenti in matrici ambientali</li>
            <li><i class="bi bi-check-circle"></i> le analisi composizionali dei materiali anche con tecniche non distruttive</li>
          </ul>
          <p class="fst-italic">
            PM_TEN srl fa parte di una rete di laboratori e spin-off universitari con competenze diversificate e complementari.
            <br>
            PM_TEN srl fa parte del consorzio TICASS (Tecnologie Innovative per il Controllo Ambientale e lo Sviluppo Sostenibile), ente gestore del Polo Regionale di Innovazione Tecnologica "Energia-Ambiente" per la Regione Liguria.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
