<section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">
      <div class="row g-5">
        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3>{{ site.data.cta.title[page.language] }}</h3>
          <p>{{ site.data.cta.abstract[page.language] }}</p>
          <a class="cta-btn align-self-start" href="{{ site.data.cta.link[page.language] | relative_url }}">{{ site.data.labels.read_more[page.language] }}</a>
        </div>
        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="{{ 'media/cta/lego-serious-play.jpg' | relative_url }}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
