<section id="onfocus" class="onfocus">
  <div id="about-us" class="container-fluid p-0" data-aos="fade-up">
    <div class="row g-0">
      <div class="section-header">
        <h2>{{ site.data.labels.section_title_aboutus[page.language] }}</h2>
      </div>
        <div id="focus-image" class="col-lg-6 video-play position-relative">
        </div>
      <div class="col-lg-6">
        <div class="content d-flex flex-column justify-content-center h-100">
          <p class="fst-italic">
            PM_TEN offers a connection between the world of academic research and the business market, from one side  proposing applications of results of research, in particular the activity developed in the Environmental Physics Laboratory; and from the other side, being itself a driving force for new progresses  of the methods developed in the academic context.
            <br>
            The main activities of the Company are related to:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> weather and marine forecast</li>
            <li><i class="bi bi-check-circle"></i> dispersion of pollutants in fluids</li>
            <li><i class="bi bi-check-circle"></i> characterization of air pollution sources</li>
            <li><i class="bi bi-check-circle"></i> study of eolic potential</li>
            <li><i class="bi bi-check-circle"></i> determination of different types of pollutants (dust, radioactive isotopes, noise, non-ionizing radiation) and of their sources in environmental matrices</li>
            <li><i class="bi bi-check-circle"></i> compositional analysis of materials including non-destructive techniques</li>
          </ul>
          <p class="fst-italic">
            PM_TEN srl is part of a network of laboratories and university spin-off companies with diversified and complementary skills.
            <br>
            PM_TEN srl is a member of TICASS consortium, legal subject officially recognized as managing body of "Energy-Environment" Regional Innovation Hub in Liguria Region.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
