---
layout: default
---
{%- assign subSectionName = site.data.labels.section_title_resources[page.language] -%}
{%- include breadcrumbs.html pageTitle=page.title subSectionName=subSectionName subSectionUrl="#resources" %}
<section class="inner-page">
    <div class="container">
        {%- for file in site.data.downloads %} 
        <h4>{{ file.title[page.language] }}</h4>
        <p>
            {{ file.description[page.language] }}
            <br>
            <a href="{{ file.url |  relative_url }}" class="readmore"><span>{{ site.data.labels.download[page.language] }}</span><i class="bi bi-arrow-right"></i></a>
        </p>
        {% endfor %}
    </div>
</section>
