---
layout: default
---
{%- assign person = site.data.people | where: "key", page.key | first -%}
{%- assign subSectionName = site.data.labels.section_title_team[page.language] -%}
{%- include breadcrumbs.html pageTitle=person.title subSectionName=subSectionName subSectionUrl="#people" %}
<section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">        
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="member-img">
                            <img src="{{ person.image | relative_url }}" class="img-fluid" alt="">
                        </div>            
                    </div>
                    <div class="col-md-8">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>{{ person.title }}</h3>
                    <ul>
                        {%- if person.role[page.language] and person.role[page.language] != "" -%}
                        <li><strong>{{ site.data.labels.role[page.language] }}</strong>: {{ person.role[page.language] }}</li>
                        {%- endif -%}
                        {%- if person.location and person.location != "" -%}
                        <li><strong>{{ site.data.labels.location[page.language] }}</strong>: {{ person.location }}</li>
                        {%- endif -%}
                        {%- if person.phone and person.phone != "" -%}
                        <li><strong>{{ site.data.labels.phone[page.language] }}</strong>: {{ person.phone }}</li>
                        {%- endif -%}
                        {%- if person.mobile and person.mobile != "" -%}
                        <li><strong>{{ site.data.labels.mobile[page.language] }}</strong>: {{ person.mobile }}</li>
                        {%- endif -%}
                        {%- if person.mail and person.mail != "" -%}
                        <li><strong>{{ site.data.labels.email[page.language] }}</strong>: {{ person.mail }}</li>
                        {%- endif -%}
                        {%- if person.secondary_mail and person.secondary_mail != "" -%}
                        <li><strong>{{ site.data.labels.secondary_email[page.language] }}</strong>: {{ person.secondary_mail }}</li>
                        {%- endif -%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    