---
layout: default
metadata_section_name: people
---
{%- assign metadata = site.data[layout.metadata_section_name] | where: "key", page.key | first -%}
{%- assign subSectionName = site.data.labels.section_title_team[page.language] -%}
{%- include breadcrumbs.html subSectionName=subSectionName subSectionUrl="#people" %}
<section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">        
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="member-img">
                            <img src="{{ metadata.image | relative_url }}" class="img-fluid" alt="">
                        </div>            
                    </div>
                    <div class="col-md-8">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>{{ metadata.title[page.language] }}</h3>
                    <ul>
                        {%- if metadata.role[page.language] and metadata.role[page.language] != "" -%}
                        <li><strong>{{ site.data.labels.role[page.language] }}</strong>: {{ metadata.role[page.language] }}</li>
                        {%- endif -%}
                        {%- if metadata.location and metadata.location != "" -%}
                        <li><strong>{{ site.data.labels.location[page.language] }}</strong>: {{ metadata.location }}</li>
                        {%- endif -%}
                        {%- if metadata.phone and metadata.phone != "" -%}
                        <li><strong>{{ site.data.labels.phone[page.language] }}</strong>: {{ metadata.phone }}</li>
                        {%- endif -%}
                        {%- if metadata.mobile and metadata.mobile != "" -%}
                        <li><strong>{{ site.data.labels.mobile[page.language] }}</strong>: {{ metadata.mobile }}</li>
                        {%- endif -%}
                        {%- if metadata.mail and metadata.mail != "" -%}
                        <li><strong>{{ site.data.labels.email[page.language] }}</strong>: {{ metadata.mail }}</li>
                        {%- endif -%}
                        {%- if metadata.secondary_mail and metadata.secondary_mail != "" -%}
                        <li><strong>{{ site.data.labels.secondary_email[page.language] }}</strong>: {{ metadata.secondary_mail }}</li>
                        {%- endif -%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    