---
layout: default
metadata_section_name: projects
---
{%- assign metadata = site.data[layout.metadata_section_name] | where: "key", page.key | first -%}
{%- assign subSectionName = site.data.labels.section_title_projects[page.language] -%}
{%- include breadcrumbs.html subSectionName=subSectionName subSectionUrl="#projects" %}
<section id="portfolio-details" class="portfolio-details">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-7">
        <article class="blog-details">
          <div class="content">
            {{ content }}
          </div>
          {%- if metadata.image_bottom and metadata.image_bottom != "" -%}
          <div style="text-align:center">
            <img src="{{ metadata.image_bottom | relative_url }}" class="img-fluid" alt="{{ page.title }}"">
          </div>
          {%- endif -%}
        </article>
      </div>
      <div class="col-lg-5">
        <div style="margin-bottom: 20px">
          <img src="{{ metadata.image | relative_url }}" class="img-fluid" alt="{{ page.title }}">
        </div>
        <div class="portfolio-info" style="margin:20px">
          <ul>
            <li><strong>{{ site.data.labels.project_title[page.language] }}</strong>: {{ metadata.title[page.language] }}</li>
            {%- if metadata.type[page.language] and metadata.type[page.language] != "" -%}
            <li><strong>{{ site.data.labels.project_type[page.language] }}</strong>: {{ metadata.type[page.language] }}</li>
            {%- endif -%}
            {%- if metadata.partners and metadata.partners != "" -%}
            <li><strong>{{ site.data.labels.project_partners[page.language] }}</strong>: {{ metadata.partners }}</li>
            {%- endif -%}
            {%- if metadata.duration[page.language] and metadata.duration[page.language] != "" -%}
            <li><strong>{{ site.data.labels.project_duration[page.language] }}</strong>: {{ metadata.duration[page.language] }}</li>
            {%- endif -%}
            {%- if metadata.sector[page.language] and metadata.sector[page.language] != "" -%}
            <li><strong>{{ site.data.labels.project_sector[page.language] }}</strong>: {{ metadata.sector[page.language] }}</li>
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>