---
layout: default
metadata_section_name: services
---
{%- assign metadata = site.data[layout.metadata_section_name] | where: "key", page.key | first -%}
{%- assign subSectionName = site.data.labels.section_title_services[page.language] -%}
{%- include breadcrumbs.html subSectionName=subSectionName subSectionUrl="#services" %}
<section id="portfolio-details" class="portfolio-details">
  <div class="container" data-aos="fade-up">
      <div class="row gy-4">        
          <div class="col-lg-8">
            {{ content }}
          </div>
          <div class="col-lg-4">
            <img src="{{ metadata.image | relative_url }}" class="img-fluid" alt="">
          </div>
      </div>
  </div>
</section>